*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
body {
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/*  */

:root {
  --clr-primary: rgb(105, 205, 255);
  --clr-accent-orange: rgb(250, 188, 0);
}

body {
  height: 200vh;
}

.container {
  margin: 0 auto;
  max-width: 72rem;
  padding-inline: 20px;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
}

.flex-sb-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-sb-e {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-i {
  padding-inline: 10px;
}

.box-highlight {
  padding-inline: 15px;
  background-color: var(--clr-primary);
  color: white;
}

header {
  position: fixed;
  width: 100%;
  background-color: var(--clr-primary);
  padding: 10px;
  z-index: 2;
}
.header__logo {
  position: relative;
}

.header__fixed-logo {
  justify-content: center;
  position: absolute;
  left: 50px;
  top: 20px;
  border-radius: 50%;
  background-color: black;
  width: 160px;
  height: 160px;
  transform: rotate(-15deg);
}

h1 {
  line-height: 0.75;
}

#bobs {
  color: var(--clr-accent-orange);
  font-family: 'Pacifico', cursive;
  font-size: 2.4rem;
}
#bagels {
  padding-left: 20px;
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 1.5rem;
}

.header__list {
  list-style: none;
  z-index: 1;
  gap: clamp(0px, -40px + 6vw, 30px);
}

.header__item:nth-last-child(1) {
  margin-left: 70px;
}

.header__item a {
  font-size: 1.1rem;
  font-weight: 400;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.header__item {
  padding-inline: 10px;
}

.current__page-nav {
  background-color: black !important;
}

.current__page-nav-text {
  color: var(--clr-accent-orange) !important;
}

.header__basket {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}

.header__basket-quantity {
  position: absolute;
  right: -15px;
  top: -10px;
  background-color: black;
  color: white;
  font-size: 0.9rem;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  text-align: center;
}

.top {
  top: 0 !important;
}

.basket {
  position: absolute;
  top: -100vh;
  /* top: 0; */
  right: 0;
  height: 100vh;
  background-color: rgb(110, 195, 189);
  max-width: 700px;
  width: 100%;
  z-index: 2;
  transition: top 500ms ease-in-out;
  overflow: scroll;
  overflow-x: hidden;
}

.basket::-webkit-scrollbar {
  display: none;
}

.basket__inner {
  padding-inline: clamp(30px, -2rem + 10vw, 100px);
}

.close-btn {
  text-align: end;
  font-size: 2rem;
  cursor: pointer;
  margin: 20px 20px 0 0;
}

.basket__product {
  display: flex;
  gap: 10px;
  max-width: 700px;
  width: 100%;
  margin-bottom: 20px;
}

.savings {
  text-align: end;
}

.basket__text {
  font-size: 1.5rem;
  width: 100%;
}

.basket__wrapper {
  gap: 30px;
}

.basket__product-quantity-decrement p,
.basket__product-quantity-increment p {
  text-align: center;
  width: 20px;
  cursor: pointer;
}

.basket__product-quantity-decrement:hover {
  color: red;
}

.basket__product-quantity-increment:hover {
  color: rgb(0, 255, 0);
}

.basket__product-remove {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 900;
  color: red;
  cursor: pointer;
}

.basket__product-remove:hover {
  opacity: 0.8;
}

.basket__total {
  padding-right: 39px;
  text-align: end;
}

.basket__checkout-btn {
  border: none;
  padding: 10px 30px;
  background-color: black;
  width: 200px;
  font-weight: 500;
  font-size: 1.2rem;
  color: white !important;
  transition: 300ms;
}

.basket__checkout-svg {
  transform: translateX(10px);
  transition: 300ms;
}

.basket__checkout-btn:hover {
  transform: scale(1.05);
}

.basket__checkout-btn:hover .basket__checkout-svg {
  transform: translate(20px);
}

.checkout {
  position: absolute;
  top: -100vh;
  right: 0;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  max-width: 700px;
  width: 100%;
  z-index: 2;
  transition: top 500ms ease-in-out;
  overflow: scroll;
  overflow-x: hidden;
}

.checkout::-webkit-scrollbar {
  display: none;
}

.checkout-section {
  padding-inline: clamp(30px, -2rem + 10vw, 100px);
}

.checkout__product {
  margin-bottom: 20px;
}

.checkout__wrapper {
  gap: 80px;
}

.checkout__total {
  text-align: end;
}

.checkout__total-saved {
  text-align: center;
}

.browse-menu {
  min-height: 600px;
  padding-top: 160px;
}

.split-bg {
  background: linear-gradient(to left, white 0 50%, var(--clr-accent-orange) 50% 100%);
}

.browse-menu-left,
.browse-menu-right {
  flex: 1;
  padding-left: clamp(10px, -3rem + 8vw, 80px);
  padding-right: 10px;
}

.browse-menu-left h2 {
  font-size: 2.5rem;
  margin-bottom: 25px;
}

.browse-menu-left p {
  font-size: 1.4rem;
  margin-bottom: 25px;
}

.browse-menu-left-btn {
  padding: 10px 30px;
  background-color: black;
  max-width: 300px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1;
  color: white !important;
  transition: 300ms;
}

.browse-menu-left-svg {
  transform: translateX(-20px);
  transition: 300ms;
}

.browse-menu-left-btn:hover {
  transform: scale(1.05);
}

.browse-menu-left-btn:hover .browse-menu-left-svg {
  transform: translate(10px);
}

.bagel-animation-wrapper {
  transform: translate(20px, -80px);
  animation: bagel-translate 1000ms alternate infinite ease-in-out;
}

.browse-menu-right {
  flex-direction: column;
}

.bagel-animation {
  width: 350px;
  animation: bagel-rotate 500ms alternate infinite ease-in-out;
}

.browse-menu-right p {
  transform: translateY(-40px);
  font-size: 1.2rem;
}

@keyframes bagel-rotate {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
@keyframes bagel-translate {
  0% {
    transform: translate(20px, -80px);
  }
  100% {
    transform: translate(20px, -40px);
  }
}

@media screen and (max-width: 40.625em) {
  .browse-menu__inner {
    flex-direction: column;
  }
  .split-bg {
    background: linear-gradient(to top, white 0 60%, var(--clr-accent-orange) 60% 100%);
  }
  .browse-menu-left,
  .browse-menu-right {
    padding-top: 70px;
    max-width: 500px;
  }
  .browse-menu-left {
    margin-bottom: 110px;
  }
}

.shop {
  padding-top: 60px;
}

.shop-section {
  margin-block: 40px;
  padding: 40px 20px;
}

.shop__products {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.shop__product {
  max-width: 340px;
}

.shop__product-image {
  position: relative;
}

.shop__add-to-basket {
  position: absolute;
  inset: 0;
  flex-direction: column;
  gap: 20px;
  font-size: 2rem;
  opacity: 0;
  background-color: var(--clr-accent-orange);
  transition: opacity 300ms ease-in-out;
  cursor: pointer;
}

.shop__add-to-basket:hover {
  opacity: 0.8;
}

.shop__product-text {
  align-items: flex-end;
  padding-top: 10px;
  line-height: 0.7;
  font-size: 1.7rem;
}

.shop__text-sm {
  font-size: 1rem;
}

.shop__deals-bg {
  background-color: rgb(110, 195, 189);
}

.shop__deals-h2 {
  text-align: center;
  font-size: 4rem;
  color: white;
}

.shop__deals-h3 {
  color: white;
  font-size: 1.4rem;
  padding-block: 10px;
}
